<meta property="og:title" content="Honu / Account Management" />
<meta property="og:description" content="Manage Honu accounts" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/accountmanagement/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <account-management></account-management>
</div>
