<meta property="og:title" content="honu / alert create" />
<meta property="og:description" content="create an &quot;alert&quot;" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/alertcreate/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <alert-create></alert-create>
</div>
