<meta property="og:title" content="Honu / Alert list" />
<meta property="og:description" content="Alert list" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/alertlist/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <alert-list></alert-list>
</div>
