<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/dist/main/view.js" defer asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/wt-grid.css">

<style>
    .wt-block {
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
    }

    .wt-block td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #world_pop td {
        padding: 0.25rem;
    }

    a {
        cursor: pointer !important;
        color: var(--success) !important;
    }
</style>

<div class="container-fluid" id="app" style="font-size: 14px; line-height: 1;" v-cloak>
    <div class="d-flex align-items-center">
        <h1 class="d-inline-block flex-grow-1">
            <img src="~/img/beans.png" style="height: 100%; width: 48px;" title="spill 'em" />

            <a href="/" title="Return to home page">
                Carl Watchtower
            </a>
        </h1>

        <div>
            <table class="table table-sm">
                <tr>
                    <td>Socket status:</td>
                    <td>{{socketState}}</td>
                </tr>

                <tr>
                    <td>
                        Last socket update:
                        <info-hover text="When the last data was received from the server"></info-hover>
                    </td>
                    <td>
                        {{lastUpdate | moment("YYYY-MM-DD hh:mm:ssA ZZ")}}
                    </td>
                </tr>

                <tr>
                    <td>
                        Last data update:
                        <info-hover text="When the data was last updated by the server"></info-hover>
                    </td>
                    <td>
                        {{worldData.timestamp | moment("YYYY-MM-DD hh:mm:ssA ZZ")}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr />

    <div class="wt-grid-container" style="display: grid;">
        <div class="grid-continent-population">
            <h4>
                Player count
                <info-hover text="Continents are hidden if they have less than 5 players"></info-hover>
            </h4>

            <table id="world_pop" class="table" style="table-layout: fixed; text-align: center;">
                <tr>
                    <th colspan="5" class="border-right">
                        Server
                        <info-hover text="Players currently online"></info-hover>
                    </th>
                    <th colspan="5" v-if="indarCount > 4" class="border-right">Indar</th>
                    <th colspan="5" v-if="hossinCount > 4" class="border-right">Hossin</th>
                    <th colspan="5" v-if="amerishCount > 4" class="border-right">Amerish</th>
                    <th colspan="5" v-if="esamirCount > 4" class="border-right">Esamir</th>
                    <th colspan="5">
                        Other
                        <info-hover text="Zones such as Koltyr, Desolation or Santuary"></info-hover>
                    </th>
                </tr>

                <tr>
                    <!-- All across the server -->
                    <td>All: {{totalCount}}</td>
                    <td>{{totalVSCount}} VS</td>
                    <td>{{totalNCCount}} NC</td>
                    <td>{{totalTRCount}} TR</td>
                    <td class="border-right">{{totalNSCount}} NS</td>

                    <template v-if="indarCount > 4">
                        <td>All: {{indarCount}}</td>
                        <td>{{worldData.continentCount.indar.vs}} VS</td>
                        <td>{{worldData.continentCount.indar.nc}} NC</td>
                        <td>{{worldData.continentCount.indar.tr}} TR</td>
                        <td class="border-right">{{worldData.continentCount.indar.ns}} NS</td>
                    </template>

                    <template v-if="hossinCount > 4">
                        <td>All: {{hossinCount}}</td>
                        <td>{{worldData.continentCount.hossin.vs}} VS</td>
                        <td>{{worldData.continentCount.hossin.nc}} NC</td>
                        <td>{{worldData.continentCount.hossin.tr}} TR</td>
                        <td class="border-right">{{worldData.continentCount.hossin.ns}} NS</td>
                    </template>

                    <template v-if="amerishCount > 4">
                        <td>All: {{amerishCount}}</td>
                        <td>{{worldData.continentCount.amerish.vs}} VS</td>
                        <td>{{worldData.continentCount.amerish.nc}} NC</td>
                        <td>{{worldData.continentCount.amerish.tr}} TR</td>
                        <td class="border-right">{{worldData.continentCount.amerish.ns}} NS</td>
                    </template>

                    <template v-if="esamirCount > 4">
                        <td>All: {{esamirCount}}</td>
                        <td>{{worldData.continentCount.esamir.vs}} VS</td>
                        <td>{{worldData.continentCount.esamir.nc}} NC</td>
                        <td>{{worldData.continentCount.esamir.tr}} TR</td>
                        <td class="border-right">{{worldData.continentCount.esamir.ns}} NS</td>
                    </template>

                    <!-- Other, currently unknown -->
                    <td>All: {{otherCount}}</td>
                    <td>{{worldData.continentCount.other.vs}} VS</td>
                    <td>{{worldData.continentCount.other.nc}} NC</td>
                    <td>{{worldData.continentCount.other.tr}} TR</td>
                    <td>{{worldData.continentCount.other.ns}} NS</td>
                </tr>
            </table>
        </div>

        <h4 class="grid-title-vs">
            <img src="~/img/logo_vs.png" style="width: 32px; "/>
            Vanu Sovereignty
            <info-hover text="NS kills only count when that player is on this faction"></info-hover>
        </h4>

        <h4 class="grid-title-heals">
            Heals
        </h4>

        <h4 class="grid-title-revives">
            Revives
        </h4>

        <h4 class="grid-title-resupplies">
            Resupplies
        </h4>

        <h4 class="grid-title-spawns">
            Spawns &lt;3
        </h4>

        <div class="grid-vs-player-kills">
            <player-kill-block :block="worldData.vs"></player-kill-block>
        </div>

        <div class="grid-vs-outfit-kills">
            <outfit-kill-block :block="worldData.vs.outfitKills"></outfit-kill-block>
        </div>

        <div class="grid-vs-heals d-flex">
            <block-view :block="worldData.vs.playerHeals" :source="expSources.heal"></block-view>
            <block-view :block="worldData.vs.outfitHeals" title="Outfits"></block-view>
        </div>

        <div class="grid-vs-revives d-flex">
            <block-view :block="worldData.vs.playerRevives" :source="expSources.revive"></block-view>
            <block-view :block="worldData.vs.outfitRevives" title="Outfits"></block-view>
        </div>

        <div class="grid-vs-resupplies d-flex">
            <block-view :block="worldData.vs.playerResupplies" :source="expSources.resupply"></block-view>
            <block-view :block="worldData.vs.outfitResupplies" title="Outfits"></block-view>
        </div>

        <div class="grid-vs-spawns d-flex">
            <block-view :block="worldData.vs.playerSpawns" :source="expSources.spawn"></block-view>
            <block-view :block="worldData.vs.outfitSpawns" title="Outfits"></block-view>
        </div>

        <h4 class="grid-title-nc">
            <img src="~/img/logo_nc.png" style="width: 32px; "/>
            New Conglomerate
            <info-hover text="NS kills only count when that player is on this faction"></info-hover>
        </h4>

        <div class="grid-nc-player-kills">
            <player-kill-block :block="worldData.nc"></player-kill-block>
        </div>
        
        <div class="grid-nc-outfit-kills">
            <outfit-kill-block :block="worldData.nc.outfitKills"></outfit-kill-block>
        </div>

        <div class="grid-nc-heals d-flex">
            <block-view :block="worldData.nc.playerHeals" :source="expSources.heal"></block-view>
            <block-view :block="worldData.nc.outfitHeals" title="Outfits"></block-view>
        </div>

        <div class="grid-nc-revives d-flex">
            <block-view :block="worldData.nc.playerRevives" :source="expSources.revive"></block-view>
            <block-view :block="worldData.nc.outfitRevives" title="Outfits"></block-view>
        </div>

        <div class="grid-nc-resupplies d-flex">
            <block-view :block="worldData.nc.playerResupplies" :source="expSources.resupply"></block-view>
            <block-view :block="worldData.nc.outfitResupplies" title="Outfits"></block-view>
        </div>

        <div class="grid-nc-spawns d-flex">
            <block-view :block="worldData.nc.playerSpawns" :source="expSources.spawn"></block-view>
            <block-view :block="worldData.nc.outfitSpawns" title="Outfits"></block-view>
        </div>

        <h4 class="grid-title-tr">
            <img src="~/img/logo_tr.png" style="width: 32px; "/>
            Terran Republic
            <info-hover text="NS kills only count when that player is on this faction"></info-hover>
        </h4>

        <div class="grid-tr-player-kills">
            <player-kill-block :block="worldData.tr"></player-kill-block>
        </div>

        <div class="grid-tr-outfit-kills">
            <outfit-kill-block :block="worldData.tr.outfitKills"></outfit-kill-block>
        </div>

        <div class="grid-tr-heals d-flex">
            <block-view :block="worldData.tr.playerHeals" :source="expSources.heal"></block-view>
            <block-view :block="worldData.tr.outfitHeals" title="Outfits"></block-view>
        </div>

        <div class="grid-tr-revives d-flex">
            <block-view :block="worldData.tr.playerRevives" :source="expSources.revive"></block-view>
            <block-view :block="worldData.tr.outfitRevives" title="Outfits"></block-view>
        </div>

        <div class="grid-tr-resupplies d-flex">
            <block-view :block="worldData.tr.playerResupplies" :source="expSources.resupply"></block-view>
            <block-view :block="worldData.tr.outfitResupplies" title="Outfits"></block-view>
        </div>

        <div class="grid-tr-spawns d-flex">
            <block-view :block="worldData.tr.playerSpawns" :source="expSources.spawn"></block-view>
            <block-view :block="worldData.tr.outfitSpawns" title="Outfits"></block-view>
        </div>

        <div class="grid-title-misc">
            <h4>Misc stats (all factions)</h4>
            <hr />
        </div>

        <div class="grid-misc-spawns">
            <h4>
                Current top spawns
                <info-hover text="Spawns are removed when they haven't spawned anyone in 5 minutes, not when they're killed"></info-hover>
            </h4>

            <table class="table table-sm">
                <tr class="table-secondary">
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Spawns</th>
                    <th>Spawns/min</th>
                    <th>Deployed at</th>
                    <th>Lifespan</th>
                </tr>

                <tr v-for="entry in worldData.topSpawns.entries">
                    <td :style="{ color: getFactionColor(entry.factionID) }">{{entry.owner}}</td>
                    <td>
                        <span v-if="entry.npcType == 1" title="Sunderer">
                            S
                        </span>

                        <span v-else-if="entry.npcType == 2" title="Router">
                            R
                        </span>

                        <span v-else title="Unknown">
                            U {{entry.npcType}}
                        </span>
                    </td>
                    <td>{{entry.spawnCount}}</td>
                    <td>{{(entry.spawnCount / (entry.secondsAlive / 60)).toFixed(2)}}</td>
                    <td>{{entry.firstSeenAt | moment}}</td>
                    <td>{{entry.secondsAlive | duration}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="stat-table" style="display: none; background-color: var(--secondary); text: white; border: 2px var(--light) solid;">
        <div class="d-flex bg-dark" style="align-items: center;">
            <span class="flex-grow-1 px-2">
                {{modalData.title}}
            </span>

            <button type="button" class="btn flex-grow-0" @@click="closeStatTooltip">
                &times;
            </button>
        </div>

        <table class="table table-sm table-striped mb-0">
            <thead>
                <tr>
                    <th v-for="column in modalData.columnNames">
                        {{column}}
                    </th>
                </tr>
            </thead>

            <tbody v-if="modalData.loading == false">
                <tr v-for="datum in modalData.data">
                    <td v-for="field in modalData.columnFields">
                        {{datum[field]}}
                    </td>
                </tr>
            </tbody>

            <tbody v-else>
                <tr>
                    <td :colspan="modalData.columnNames.length">
                        Loading...
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
