<meta property="og:title" content="Honu / Realtime" />
<meta property="og:description" content="Realtime view of Planetside 2 servers" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/dist/view/watchtower/view.js" defer asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/wt-grid.css">
<link rel="stylesheet" href="~/css/input-grid.css">

<style>
    .wt-block {
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        height: min-content;
    }

    .wt-block td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #world_pop td {
        padding: 0.25rem;
    }

    a {
        cursor: pointer !important;
        color: var(--success) !important;
    }

    a:hover {
        color: var(--white) !important;
    }

    .wt-click {
        /*
        text-decoration: underline;
        background-color: rgba(0, 188, 140, 0.2);
        rgba(0, 188, 140, 0.4) solid;
        padding-left: 0.125rem;
        padding-right: 0.125rem;
        border-radius: 0.125rem;
        border: 1px solid;
        border-image: linear-gradient(195deg, rgba(0, 188, 140, 0.2), rgba(0, 188, 140, 0.5)) 1;
        transition: background-color 0.3s;
        */
    }

    .wt-click:hover {
        color: var(--white) !important;
        background-color: rgba(0, 188, 140, 0.5);
    }

    .vu-type {
        height: 2rem;
    }

    .vu-count {
        text-align: end;
        vertical-align: middle !important;
        padding-right: 0.75rem !important;
    }

    .class-usage-icon {
        height: 1.25rem;
        vertical-align: text-bottom;
    }

    /*
        from SessionViewerGeneral.vue

        "#666699", // infil
        "#0d239d", // LA
        "#cc0000", // medic
        "#009900", // engi
        (this.usePalePink) ? "#fcd5e7" : "#ff69b4", // heavy
        "#663300", // max
    */
    :root {
        --color-class-infil: #666699;
        --color-class-light-assault: #0d239d;
        --color-class-medic: #cc0000;
        --color-class-engi: #009900;
        --color-class-heavy: #ff69b4;
        --color-class-max: #663300;
    }

</style>

<div id="app" class="container-fluid" style="font-size: 14px; line-height: 1;" v-cloak>
    <realtime-data></realtime-data>
</div>

