<meta property="og:title" content="Honu / Realtime" />
<meta property="og:description" content="Realtime view of Planetside 2 servers" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/dist/view/watchtower/view.js" defer asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/wt-grid.css">

<style>
    .wt-block {
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        height: min-content;
    }

    .wt-block td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #world_pop td {
        padding: 0.25rem;
    }

    a {
        cursor: pointer !important;
        color: var(--success) !important;
    }
</style>

<div id="app" class="container-fluid" style="font-size: 14px; line-height: 1;" v-clock>
    <realtime-data></realtime-data>
</div>

