<meta property="og:title" content="Honu / Item search" />
<meta property="og:description" content="Search items" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/itemfind/view.js" defer asp-append-version="true"></script>

<div id="app" class="container-fluid">
    <item-find></item-find>
</div>
