<meta property="og:title" content="Honu / Item viewer" />
<meta property="og:description" content="Item viewer" />

<script src="~/dist/view/itemstatviewer/view.js" defer asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/input-grid.css" />

<style>
    .selected-column {
        padding: 0.3rem;
        margin: -0.3rem;
    }
</style>

<div id="app" class="container-fluid">
    <item-stat-viewer></item-stat-viewer>
</div>
