<meta property="og:title" content="Honu / Jaeger NSA" />
<meta property="og:description" content=":PEEPERS:" />

<script src="~/dist/view/jaegernsa/view.js" defer asp-append-version="true"></script>


<div id="app">
    <jaeger-nsa></jaeger-nsa>
</div>
