<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="~/dist/view/ledger/view.js" defer asp-append-version="true"></script>

<style>
    a {
        cursor: pointer !important;
        color: var(--success) !important;
    }

    .ledger-base-name {
        color: #fff;
        width: 100px;
        text-align: center;
        top: 5px;
        font-size: 12px;
        line-height: 16px;
        text-shadow: #000 2px 2px 1px;
        padding: 0;
        border: none;
        box-shadow: none;
        background: none;
        white-space: initial;
    }
</style>

<div class="container-fluid" id="app" style="font-size: 14px; line-height: 1;">
    <ledger></ledger>
</div>
