<meta property="og:title" content="Honu / Online" />
<meta property="og:description" content="View characters online" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/online/view.js" defer asp-append-version="true"></script>

<div id="app" class="container-fluid">
    <online-viewer></online-viewer>
</div>
