<meta property="og:title" content="Honu / Outfit Sankey" />
<meta property="og:description" content="View the changes in membership of an outfit over time" />

<!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
-->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/d3-array@1"></script>
<script src="https://unpkg.com/d3-collection@1"></script>
<script src="https://unpkg.com/d3-path@1"></script>
<script src="https://unpkg.com/d3-shape@1"></script>
<script src="https://unpkg.com/d3-sankey@0"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>
<script src="~/dist/view/outfitsankey/view.js" defer asp-append-version="true"></script>

<style>
.link {
}
.link:hover {
  stroke-opacity: 1;
  filter: 
    drop-shadow(-2px -2px 0px #fff) 
    drop-shadow(2px -2px 0px #fff) 
    drop-shadow(2px 2px 0px #fff)
    drop-shadow(-2px 2px 0px #fff);
}

.link-hover {
  stroke-opacity: 1;
  filter: 
    drop-shadow(-2px -2px 0px #fff) 
    drop-shadow(2px -2px 0px #fff) 
    drop-shadow(2px 2px 0px #fff)
    drop-shadow(-2px 2px 0px #fff);
}

.node {

}

.node:hover {
  filter: 
    drop-shadow(-2px -2px 0px #fff) 
    drop-shadow(2px -2px 0px #fff) 
    drop-shadow(2px 2px 0px #fff)
    drop-shadow(-2px 2px 0px #fff);
}

</style>

<div id="app" class="container-fluid">
    <outfit-sankey></outfit-sankey>
</div>
