<meta property="og:title" content="Honu / Outfit Wars" />
<meta property="og:description" content="Outfit Wars : Nexus 2" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/outfitwars/view.js" defer asp-append-version="true"></script>
<script src="~/lib/signalr/signalr.js"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <outfit-wars></outfit-wars>
</div>
