<meta property="og:title" content="Honu / Outfit Sankey" />
<meta property="og:description" content="View the changes in membership of an outfit over time" />

<!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
-->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/d3-array@1"></script>
<script src="https://unpkg.com/d3-collection@1"></script>
<script src="https://unpkg.com/d3-path@1"></script>
<script src="https://unpkg.com/d3-shape@1"></script>
<script src="https://unpkg.com/d3-sankey@0"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>
<script src="~/dist/view/outfitsankey/view.js" defer asp-append-version="true"></script>

<style>
.link {
    stroke-opacity: 0;
}
.link:hover {
  fill-opacity: 1 !important;
  stroke-opacity: 1;
}

.link-hover {
  fill-opacity: 1 !important;
  stroke-opacity: 1;
}

.node {
    stroke: #000;
}

.node:hover {
    stroke: #fff;
    stroke-width: 2px;
}
.node-hover {
    stroke: #fff;
    stroke-width: 2px;
}
</style>

<div id="app" class="container-fluid">
    <outfit-sankey></outfit-sankey>
</div>
