<meta property="og:title" content="Honu / Population" />
<meta property="og:description" content="View PS2's poulation over time" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/population/view.js" defer asp-append-version="true"></script>

<style>

</style>

<div class="container-fluid" id="app">
    <population></population>
</div>
