<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<script>

    function onSignIn(user) {
        debugger;
    }

</script>
