@page

<div class="container">
    <div>
        You have attempted to access a PSB Admin resource, but do not have an account setup.
    </div>

    <div>
        If you are a PSB admin, contact varunda
    </div>

    <div>
        <a href="/">
            Return to home page
        </a>
    </div>
</div>

