<meta property="og:title" content="Honu / Realtime Network" />
<meta property="og:description" content="Planetside 2 realtime interaction network" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>

<link rel="stylesheet" href="~/css/input-grid.css" />
<script src="~/dist/view/realtimenetwork/view.js" defer asp-append-version="true"></script>

<style>
    a {
        cursor: pointer !important;
        color: var(--success) !important;
    }
</style>

<div id="app">
    <realtime-network></realtime-network>
</div>
