<meta property="og:title" content="Honu / Realtime Alert" />
<meta property="og:description" content="Realtime alert" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/lib/signalr/signalr.js"></script>

<link rel="stylesheet" href="~/css/input-grid.css" />
<script src="~/dist/view/realtimealert/view.js" defer asp-append-version="true"></script>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0">
    <defs>
        <filter id="f1">
            <feGuassianBlur stdDeviation="1.5"/>
        </filter>
    </defs>
</svg>

<style>
    a {
        cursor: pointer !important;
        color: var(--success) !important;
    }

    :root {
        --owred: #6e0808;
        --owblue: #081b79;
    }

    .gb-red {
        color: white;
        /*: -1px -1px 2px #6e0808, 1px -1px 2px #6e0808, -1px 1px 2px #6e0808, 1px 1px 2px #6e0808;*/
        text-shadow: -1px -1px 2px #f00, 1px -1px 2px #f00, -1px 1px 2px #f00, 1px 1px 2px #f00;
    }

    .gb-blue {
        color: white;
        text-shadow: -1px -1px 2px var(--owblue), 1px -1px 2px var(--owblue), -1px 1px 2px var(--owblue), 1px 1px 2px var(--owblue);
    }

    .gb3 {
        filter: blur(1.5px);
    }

    .slider {
        position: fixed;
        top: 180px;
        width: 280px;
        max-width: 280px;
        background-color: var(--gray-dark);
    }

    .slide-left-in {
        animation: slide-left-in 1s forwards;
        z-index: 10;
    }

    .slide-left-out {
        animation: slide-left-out 1s forwards;
        z-index: 10;
    }

    .slide-right-in {
        animation: slide-right-in 1s forwards;
        z-index: 10;
    }

    .slide-right-out {
        animation: slide-right-out 1s forwards;
        z-index: 10;
    }
</style>

<div id="app">
    <realtime-alert></realtime-alert>
</div>
