
<div class="container-fluid">
    <h1 class="d-inline-block flex-grow-1">
        <img src="~/img/beans.png" style="height: 100%; width: 48px;" />
        Carl Watchtower
    </h1>

    <hr />

    <div class="text-cente">
        <h5>About</h5>
        <div>
            Carl Watchtower is a realtime tracking server for Planetside 2 PC servers
        </div>

        <hr />

        <h5>Differences between Fisu</h5>
        <div>
            <a href="http://ps2.fisu.pw">fisu</a> is another realtime tracking server. The main differences between fisu and Carl Watchtower are:

            <ul>
                <li>Revives remove a death</li>
                <li>The numbers are from a 2 hour window, more useful for outfit ops</li>
            </ul>
        </div>
        
        <hr />
    </div>

    <div>
        <h4>Select server</h4>

        <a class="btn btn-primary" href="/view/cobalt">
            Cobalt
        </a>

        <a class="btn btn-primary" href="/view/connery">
            Connery
        </a>

        <a class="btn btn-primary" href="/view/emerald">
            Emerald
        </a>

        <a class="btn btn-primary" href="/view/jaeger">
            Jaeger
        </a>

        <a class="btn btn-primary" href="/view/miller">
            Miller
        </a>

        <a class="btn btn-primary" href="/view/soltech">
            SolTech
        </a>
    </div>

    <hr />

    <div>
        <h4>Contact</h4>
        
        <div>
            Discord: Hdt#1468
        </div>
    </div>

</div>
