<meta property="og:title" content="Honu / Session viewer" />
<meta property="og:description" content="Session stats for a character" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/sessionview/view.js" defer asp-append-version="true"></script>

<div id="app">
    <session-viewer></session-viewer>
</div>