<meta property="og:title" content="Honu / PSB Index" />
<meta property="og:description" content="PSB Index" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/psbindex/view.js" defer asp-append-version="true"></script>

<link rel="stylesheet" href="~/css/input-grid.css" />

<div id="app" class="container-fluid">
    <psb-index></psb-index>
</div>
