<meta property="og:title" content="Honu / PSB named tracker" />
<meta property="og:description" content="PSB named tracker :varundetective:" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="~/dist/view/psbnamed/view.js" defer asp-append-version="true"></script>

<div id="app" class="container-fluid">
    <psb-named></psb-named>
</div>
