<meta property="og:title" content="Honu / PSB OvO usage" />
<meta property="og:description" content="PSB OvO usage" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/dist/view/psbovousage/view.js" defer asp-append-version="true"></script>

<link rel="stylesheet" href="~/css/input-grid.css" />

<div id="app" class="container-fluid">
    <psb-ovo-usage></psb-ovo-usage>
</div>
