.input-cell {
    white-space: nowrap;
    align-self: center;
}

.input-grid-col3 {
    display: grid;
}

.input-grid-col3 > div:nth-child(3n) {
    grid-column: 3 / span 1;
}

.input-grid-col3 > div:nth-child(3n + 1) {
    grid-column: 1 / span 1;
}

.input-grid-col3 > div:nth-child(3n + 2) {
    grid-column: 2 / span 1;
}

.input-grid-col2 {
    display: grid;
}

.input-grid-col2 > div:nth-child(2n) {
    grid-column: 2 / span 1;
}

.input-grid-col2 > div:nth-child(2n + 1){
    grid-column: 1 / span 1;
}
