.wt-grid-container {
    column-gap: 0.75rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-continent-population {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.grid-title-vs {
    grid-column: 1;
    grid-row: 2;
}

.grid-title-nc {
    grid-column: 2;
    grid-row: 2;
}

.grid-title-tr {
    grid-column: 3;
    grid-row: 2;
}

.grid-title-focus {
    grid-column: 1 / span 3;
    grid-row: 5;
}

.grid-title-heals {
    grid-column: 1 / span 3;
    grid-row: 7;
}

.grid-title-revives {
    grid-column: 1 / span 3;
    grid-row: 9;
}

.grid-title-shields {
    grid-column: 1 / span 3;
    grid-row: 11;
}

.grid-title-resupplies {
    grid-column: 1 / span 3;
    grid-row: 13;
}

.grid-title-spawns {
    grid-column: 1 / span 3;
    grid-row: 15;
}

.grid-title-vehicle-kills {
    grid-column: 1 / span 3;
    grid-row: 17;
}

.grid-title-weapon-kills {
    grid-column: 1 / span 3;
    grid-row: 19;
}

.grid-title-outfits {
    grid-column: 1 / span 3;
    grid-row: 21;
}

.grid-title-misc {
    grid-column: 1 / span 3;
    grid-row: 23;
}

.grid-vs-player-kills {
    grid-column: 1;
    grid-row: 3;
}

.grid-vs-outfit-kills {
    grid-column: 1;
    grid-row: 4;
}

.grid-vs-focus {
    grid-column: 1;
    grid-row: 6;
}

.grid-vs-heals {
    grid-column: 1;
    grid-row: 8;
}

.grid-vs-revives {
    grid-column: 1;
    grid-row: 10;
}

.grid-vs-shields {
    grid-column: 1;
    grid-row: 12;
}

.grid-vs-resupplies {
    grid-column: 1;
    grid-row: 14;
}

.grid-vs-spawns {
    grid-column: 1;
    grid-row: 16;
}

.grid-vs-vehicle-kills {
    grid-column: 1;
    grid-row: 18;
}

.grid-vs-weapon-kills {
    grid-column: 1;
    grid-row: 20;
}

.grid-vs-outfits {
    grid-column: 1;
    grid-row: 22;
}

.grid-nc-player-kills {
    grid-column: 2;
    grid-row: 3;
}

.grid-nc-outfit-kills {
    grid-column: 2;
    grid-row: 4;
}

.grid-nc-focus {
    grid-column: 2;
    grid-row: 6;
}

.grid-nc-heals {
    grid-column: 2;
    grid-row: 8;
}

.grid-nc-revives {
    grid-column: 2;
    grid-row: 10;
}

.grid-nc-shields {
    grid-column: 2;
    grid-row: 12;
}

.grid-nc-resupplies {
    grid-column: 2;
    grid-row: 14;
}

.grid-nc-spawns {
    grid-column: 2;
    grid-row: 16;
}

.grid-nc-vehicle-kills {
    grid-column: 2;
    grid-row: 18;
}

.grid-nc-weapon-kills {
    grid-column: 2;
    grid-row: 20;
}

.grid-nc-outfits {
    grid-column: 2;
    grid-row: 22;
}

.grid-tr-player-kills {
    grid-column: 3;
    grid-row: 3;
}

.grid-tr-outfit-kills {
    grid-column: 3;
    grid-row: 4;
}

.grid-tr-focus {
    grid-column: 3;
    grid-row: 6;
}

.grid-tr-heals {
    grid-column: 3;
    grid-row: 8;
}

.grid-tr-revives {
    grid-column: 3;
    grid-row: 10;
}

.grid-tr-shields {
    grid-column: 3;
    grid-row: 12;
}

.grid-tr-resupplies {
    grid-column: 3;
    grid-row: 14;
}

.grid-tr-spawns {
    grid-column: 3;
    grid-row: 16;
}

.grid-tr-vehicle-kills {
    grid-column: 3;
    grid-row: 18;
}

.grid-tr-weapon-kills {
    grid-column: 3;
    grid-row: 20;
}

.grid-tr-outfits {
    grid-column: 3;
    grid-row: 22;
}

.grid-misc-spawns {
    grid-column: 1;
    grid-row: 24;
}