
.grid-11 {
    grid-column: 1;
    grid-row: 1;
}

.grid-12 {
    grid-column: 1;
    grid-row: 2;
}

.grid-13 {
    grid-column: 1;
    grid-row: 3;
}

.grid-14 {
    grid-column: 1;
    grid-row: 4;
}

.grid-15 {
    grid-column: 1;
    grid-row: 5;
}

.grid-16 {
    grid-column: 1;
    grid-row: 6;
}

.grid-21 {
    grid-column: 2;
    grid-row: 1;
}

.grid-22 {
    grid-column: 2;
    grid-row: 2;
}

.grid-23 {
    grid-column: 2;
    grid-row: 3;
}

.grid-24 {
    grid-column: 2;
    grid-row: 4;
}

.grid-25 {
    grid-column: 2;
    grid-row: 5;
}

.grid-26 {
    grid-column: 2;
    grid-row: 6;
}

.grid-31 {
    grid-column: 3;
    grid-row: 1;
}

.grid-33 {
    grid-column: 3;
    grid-row: 3;
}

.grid-33 {
    grid-column: 3;
    grid-row: 3;
}

.grid-34 {
    grid-column: 3;
    grid-row: 4;
}

.grid-35 {
    grid-column: 3;
    grid-row: 5;
}

.grid-36 {
    grid-column: 3;
    grid-row: 6;
}

.wt-grid-container {
    column-gap: 0.5rem;
}
